#ID1238815953child .bold {
  font-weight: bold;
}
#ID1238815953child .calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
#ID1238815953child .calibre_ {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_1 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_2 {
  display: block;
  height: 10px;
}
#ID1238815953child .calibre_3 {
  display: block;
  margin-top: 3px;
  text-align: center;
}
#ID1238815953child .calibre_4 {
  display: block;
  margin-top: 1em;
}
#ID1238815953child .calibre_5 {
  display: block;
  margin-top: 1em;
  text-align: center;
}
#ID1238815953child .calibre_6 {
  display: block;
  height: 1em;
}
#ID1238815953child .calibre_7 {
  display: block;
  margin-top: 2em;
}
#ID1238815953child .calibre_8 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_9 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_10 {
  display: block;
  font-size: 1.33333em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  page-break-before: always;
}
#ID1238815953child .calibre_11 {
  color: #01498d;
  font-size: 0.91667em;
  line-height: 1.2;
}
#ID1238815953child .calibre_12 {
  display: block;
  text-indent: 0;
}
#ID1238815953child .calibre_13 {
  display: block;
  margin-top: 2em;
  text-indent: 0;
}
#ID1238815953child .calibre_14 {
  color: #01498d;
}
#ID1238815953child .calibre_15 {
  display: block;
  height: 2em;
}
#ID1238815953child .calibre_16 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  page-break-before: always;
  text-align: left;
}
#ID1238815953child .calibre_17 {
  display: block;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_18 {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  page-break-before: always;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_19 {
  color: #01498d;
  font-size: 0.90909em;
  line-height: 1.2;
}
#ID1238815953child .calibre_20 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;
}
#ID1238815953child .calibre_21 {
  display: block;
  margin-top: 1em;
  text-align: left;
}
#ID1238815953child .calibre_22 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: -2em;
}
#ID1238815953child .calibre_23 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: left;
  text-indent: 0;
}
#ID1238815953child .calibre_24 {
  color: #01498d;
  font-size: 1em;
  line-height: 1.2;
}
#ID1238815953child .calibre_25 {
  display: block;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
  text-indent: -1em;
}
#ID1238815953child .calibre_26 {
  color: #0038a8;
  line-height: 1.2;
}
#ID1238815953child .calibre_27 {
  color: #0038a8;
  font-size: 1.25em;
  line-height: 1.2;
}
#ID1238815953child .calibre_28 {
  color: #0038a8;
  font-size: 1.125em;
  line-height: 1.2;
}
#ID1238815953child .calibre_29 {
  display: block;
  margin-top: 5px;
}
#ID1238815953child .calibre_30 {
  color: #0038a8;
}
#ID1238815953child .calibre_31 {
  background-color: #d9dbef;
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
#ID1238815953child .calibre_32 {
  background-color: #42a632;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre_33 {
  background-color: #2e8ae6;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre_34 {
  background-color: #6b59b3;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre_35 {
  background-color: #f29d61;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre_36 {
  color: black;
}
#ID1238815953child .calibre_37 {
  background-color: #d9dbef;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre_38 {
  background-color: #dadeef;
  display: block;
  margin-top: 1em;
}
#ID1238815953child .calibre_39 {
  background-color: #dadeef;
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
#ID1238815953child .calibre_40 {
  display: block;
  text-align: left;
}
#ID1238815953child .calibre_41 {
  display: block;
  text-align: center;
}
#ID1238815953child .calibre_42 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  text-align: center;
  text-indent: 0;
}
#ID1238815953child .calibre_43 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-indent: 0;
}
#ID1238815953child .calibre_44 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;
}
#ID1238815953child .calibre1 {
  font-size: 1.125em;
  line-height: 1.2;
}
#ID1238815953child .calibre2 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
#ID1238815953child .calibre3 {
  display: list-item;
}
#ID1238815953child .calibre4 {
  display: block;
}
#ID1238815953child .calibre5 {
  height: auto;
  width: auto;
}
#ID1238815953child .calibre6 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
#ID1238815953child .calibre7 {
  font-style: italic;
}
#ID1238815953child .calibre8 {
  font-size: 1em;
  line-height: 1.2;
}
#ID1238815953child .calibre9 {
  font-size: 0.75em;
}
#ID1238815953child .calibre10 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
}
#ID1238815953child .calibre11 {
  height: 30px;
  width: 35px;
}
#ID1238815953child .calibre12 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
#ID1238815953child .calibre13 {
  display: table-row;
  vertical-align: middle;
}
#ID1238815953child .calibre14 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
#ID1238815953child .calibre15 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: inherit;
}
#ID1238815953child .calibre16 {
  border-bottom-color: currentColor;
  border-bottom-style: inset;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: inset;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: inset;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: inset;
  border-top-width: 1px;
  color: gray;
  display: block;
  height: 2px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
}
#ID1238815953child .calibre17 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
#ID1238815953child .calibre18 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.67em;
  page-break-before: always;
}
#ID1238815953child .calibre19 {
  display: table-row;
  vertical-align: inherit;
}
#ID1238815953child .calibre20 {
  font-weight: bold;
  line-height: 1.2;
}
#ID1238815953child .calibre21 {
  font-style: italic;
  line-height: 1.2;
}
#ID1238815953child .calibre22 {
  text-decoration: line-through;
}
#ID1238815953child .calibre23 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: sub;
}
#ID1238815953child .mbp_pagebreak {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  page-break-after: always;
}
#ID1238815953child .underline {
  text-decoration: underline;
}

.night_mode #ID1238815953child .calibre_11 {
  color: rgba(254, 182, 114, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_14 {
  color: rgba(254, 182, 114, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_19 {
  color: rgba(254, 182, 114, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_24 {
  color: rgba(254, 182, 114, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_26 {
  color: rgba(255, 199, 87, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_27 {
  color: rgba(255, 199, 87, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_28 {
  color: rgba(255, 199, 87, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_30 {
  color: rgba(255, 199, 87, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_31 {
  background: rgba(38, 36, 16, 1) !important;
}

.night_mode #ID1238815953child .calibre_32 {
  background: rgba(189, 89, 205, 1) !important;
}

.night_mode #ID1238815953child .calibre_33 {
  background: rgba(209, 117, 25, 1) !important;
}

.night_mode #ID1238815953child .calibre_34 {
  background: rgba(148, 166, 76, 1) !important;
}

.night_mode #ID1238815953child .calibre_35 {
  background: rgba(13, 98, 158, 1) !important;
}

.night_mode #ID1238815953child .calibre_36 {
  color: rgba(255, 255, 255, 0.8) !important;
}

.night_mode #ID1238815953child .calibre_37 {
  background: rgba(38, 36, 16, 1) !important;
}

.night_mode #ID1238815953child .calibre_38 {
  background: rgba(37, 33, 16, 1) !important;
}

.night_mode #ID1238815953child .calibre_39 {
  background: rgba(37, 33, 16, 1) !important;
}

.night_mode #ID1238815953child .calibre16 {
  color: rgba(152, 152, 152, 0.8) !important;
}
