#ID262376795child .bold {
  font-weight: bold;
}
#ID262376795child .calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: justify;
}
#ID262376795child .calibre_ {
  display: block;
  margin-top: 1%;
  text-align: center;
}
#ID262376795child .calibre_1 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3%;
  page-break-before: always;
  text-align: center;
}
#ID262376795child .calibre_2 {
  display: block;
  height: 3%;
}
#ID262376795child .calibre_3 {
  display: block;
  font-size: 1.375em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 3%;
  page-break-before: always;
  text-align: center;
}
#ID262376795child .calibre_4 {
  display: block;
  text-align: left;
}
#ID262376795child .calibre_5 {
  display: block;
  height: 1%;
}
#ID262376795child .calibre_6 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 1em;
}
#ID262376795child .calibre_7 {
  display: block;
  margin-top: 10px;
  text-align: left;
}
#ID262376795child .calibre_8 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2%;
  text-align: left;
}
#ID262376795child .calibre_9 {
  display: block;
  height: 2%;
}
#ID262376795child .calibre_10 {
  display: block;
  margin-left: 2em;
  text-align: left;
  text-indent: -2em;
}
#ID262376795child .calibre_11 {
  display: block;
  height: 10px;
}
#ID262376795child .calibre_12 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
  text-indent: 1em;
}
#ID262376795child .calibre_13 {
  display: block;
  margin-top: 1%;
}
#ID262376795child .calibre_14 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0%;
}
#ID262376795child .calibre_15 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
  text-align: right;
}
#ID262376795child .calibre_16 {
  display: block;
  margin-top: 3%;
  text-align: justify;
}
#ID262376795child .calibre_17 {
  height: auto;
  text-align: middle;
  width: auto;
}
#ID262376795child .calibre_18 {
  display: block;
  margin-left: 2em;
  margin-top: 2em;
  text-align: left;
  text-indent: -2em;
}
#ID262376795child .calibre_19 {
  color: #00f;
}
#ID262376795child .calibre_20 {
  display: block;
  margin-left: 2em;
  margin-top: 5px;
  text-align: left;
  text-indent: -2em;
}
#ID262376795child .calibre_21 {
  display: table-cell;
  font-weight: bold;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: center;
  vertical-align: inherit;
}
#ID262376795child .calibre_22 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: center;
  vertical-align: top;
}
#ID262376795child .calibre_23 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: right;
  vertical-align: top;
}
#ID262376795child .calibre_24 {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1%;
  text-indent: 0%;
}
#ID262376795child .calibre_25 {
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2%;
  text-align: left;
}
#ID262376795child .calibre1 {
  display: block;
}
#ID262376795child .calibre2 {
  height: auto;
  width: auto;
}
#ID262376795child .calibre3 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
#ID262376795child .calibre4 {
  font-size: 1em;
  line-height: 1.2;
}
#ID262376795child .calibre5 {
  display: block;
  list-style-type: disc;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
#ID262376795child .calibre6 {
  display: list-item;
}
#ID262376795child .calibre7 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
#ID262376795child .calibre8 {
  line-height: 1.2;
}
#ID262376795child .calibre9 {
  display: block;
  margin-bottom: 0;
  margin-left: 2em;
  margin-right: 0;
  margin-top: 0;
}
#ID262376795child .calibre10 {
  font-size: 0.75em;
}
#ID262376795child .calibre11 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: sub;
}
#ID262376795child .calibre12 {
  border-collapse: separate;
  border-spacing: 2px;
  display: table;
  margin-bottom: 0;
  margin-top: 0;
  text-indent: 0;
}
#ID262376795child .calibre13 {
  display: table-row;
  vertical-align: middle;
}
#ID262376795child .calibre14 {
  display: table-cell;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 1px;
  text-align: inherit;
  vertical-align: top;
}
#ID262376795child .calibre15 {
  font-size: 1.125em;
  line-height: 1.2;
}
#ID262376795child .calibre16 {
  font-size: 0.66667em;
  line-height: 1.2;
  vertical-align: super;
}
#ID262376795child .calibre17 {
  font-family: Times New Roman;
}
#ID262376795child .calibre18 {
  font-size: 1em;
  line-height: 1.2;
  vertical-align: super;
}
#ID262376795child .calibre19 {
  display: block;
  page-break-after: always;
}
#ID262376795child .calibre20 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
#ID262376795child .italic {
  font-style: italic;
}
#ID262376795child .mbp_pagebreak {
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  page-break-after: always;
}
#ID262376795child .underline {
  text-decoration: underline;
}
